<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify for KunRuch sites</title>
		<meta name="description" content="Benchmark web pages over time.">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		<nav class="categories-nav">
			<ul>
				<li>
					<a href="/">
						Home
					</a>
				</li>
				{%- for key, category in sites %}
					{%- if not category.hide %}
						<li>
							<a href="{{ ('/' + (category.name or key) | lower | slug + '/') | url }}">
								{{ category.description or category.name or key }}
								<span class="category-count">({{ category.urls.length }})</span>
							</a>
						</li>
					{%- endif %}
				{%- endfor %}
			</ul>
		</nav>

		<main>
			{{ content | safe }}
		</main>

		<footer>
			MIT licensed. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>

<style>
	main {
		min-height: 80vh;
	}

  .categories-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .categories-nav li {
    margin: 0.5rem;
  }

  .categories-nav a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .categories-nav a:hover {
    background-color: #121212;
  }

  .category-count {
    font-size: 0.8em;
    color: #aaa;
  }
</style>
